In [1]:
import numpy as np
import pandas as pd
import json

In [24]:
electronics = pd.read_json (r'Electronics.json', lines=True)
electronics.head(2)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"07 17, 2002",A1N070NS9CJQ2I,0060009810,{'Format:': ' Hardcover'},Teri Adams,This was the first time I read Garcia-Aguilera...,Hit The Spot!,1026864000,NaN,NaN
1,5,False,"07 6, 2002",A3P0KRKOBQK1KN,0060009810,{'Format:': ' Hardcover'},Willa C.,"As with all of Ms. Garcia-Aguilera's books, I ...",one hot summer is HOT HOT HOT!,1025913600,NaN,NaN

In [25]:
electronics.shape

(20994353, 12)

In [26]:
electronics.isnull().sum()

overall                  0
verified                 0
reviewTime               0
reviewerID               0
asin                     0
style             10497616
reviewerName          1713
reviewText            9684
summary               4754
unixReviewTime           0
vote              18300976
image             20645630
dtype: int64

In [27]:
#only dropping empty reviews
electronics = electronics.drop(columns=['reviewText'])

In [28]:
# number of stars for product
electronics.overall.value_counts()

5    12602917
4     3306379
1     2415650
3     1529818
2     1139589
Name: overall, dtype: int64

In [29]:
# verified reviews
electronics.verified.value_counts()

True     18597092
False     2397261
Name: verified, dtype: int64

In [31]:
electronics['unixReviewTime'] = pd.to_datetime(electronics['unixReviewTime'],unit='s')

In [32]:
electronics.unixReviewTime.value_counts()

2016-03-01    25244
2015-01-03    21713
2016-01-20    21632
2014-12-29    19346
2015-01-05    18982
              ...
1999-11-07        1
1999-08-16        1
1999-09-10        1
1999-07-10        1
1999-08-06        1
Name: unixReviewTime, Length: 7015, dtype: int64

In [38]:
#filter for most recent years of reviews

_2018 = electronics[electronics['unixReviewTime'].dt.year == 2018]
print("2018 reviews: ", _2018.shape)

_2017 = electronics[electronics['unixReviewTime'].dt.year == 2017]
print("2017 reviews: ", _2017.shape)

_2016 = electronics[electronics['unixReviewTime'].dt.year == 2016]
print("2016 reviews: ", _2016.shape)

_2015 = electronics[electronics['unixReviewTime'].dt.year == 2015]
print("2015 reviews: ", _2015.shape)

2018 reviews:  (1492626, 11)
2017 reviews:  (3158123, 11)
2016 reviews:  (4446409, 11)
2015 reviews:  (4212673, 11)

In [34]:
# curious if there were any 2019's
_2019 = electronics[electronics['unixReviewTime'].dt.year == 2019]
print("2019 reviews: ", _2019.shape)

2019 reviews:  (0, 11)

In [40]:
# make master of only years 2015 - 2018
frames = [_2015,_2016,_2017,_2018]
electronic_2015_2019 = pd.concat(frames)

electronic_2015_2019.shape

(13309831, 11)

In [41]:
#double-check that it worked
x_2018 = electronic_2015_2019[electronic_2015_2019['unixReviewTime'].dt.year == 2018]
print("2018 reviews: ", x_2018.shape)

x_2017 = electronic_2015_2019[electronic_2015_2019['unixReviewTime'].dt.year == 2017]
print("2017 reviews: ", x_2017.shape)

x_2016 = electronic_2015_2019[electronic_2015_2019['unixReviewTime'].dt.year == 2016]
print("2016 reviews: ", x_2016.shape)

x_2015 = electronic_2015_2019[electronic_2015_2019['unixReviewTime'].dt.year == 2015]
print("2015 reviews: ", x_2015.shape)

2018 reviews:  (1492626, 11)
2017 reviews:  (3158123, 11)
2016 reviews:  (4446409, 11)
2015 reviews:  (4212673, 11)

In [42]:
#save subset file so we don't need to work with GB
electronic_2015_2019.to_json(r'Electronics_2015_2019.json')